## TASK 1 : MOVIE GENRE CLASSIFICATION

In [13]:
"""

Name : Tanishq Tajne
College : Pimpri Chinchwad College of Engineering

Create a machine learning model that can predict the genre of a
movie based on its plot summary or "other textual information. You
can use techniques like TF-IDF or word embeddings with classifiers
such as Naive Bayes, Logistic Regression, or Support Vector

Machines.
"""

'\n\nName : Tanishq Tajne\nCollege : Pimpri Chinchwad College of Engineering\n\nCreate a machine learning model that can predict the genre of a\nmovie based on its plot summary or "other textual information. You\ncan use techniques like TF-IDF or word embeddings with classifiers\nsuch as Naive Bayes, Logistic Regression, or Support Vector\n\nMachines.\n'

In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
data=pd.read_csv("description.txt")

In [4]:
data.head()

                              Train data:
0  ID ::: TITLE ::: GENRE ::: DESCRIPTION
1  ID ::: TITLE ::: GENRE ::: DESCRIPTION
2  ID ::: TITLE ::: GENRE ::: DESCRIPTION
3  ID ::: TITLE ::: GENRE ::: DESCRIPTION
4                              Test data:

In [5]:
def loadData(f_path):
    with open(f_path, 'r', encoding='utf-8') as f:
        data = f.readlines()
    data = [line.strip().split(' ::: ') for line in data]
    return data

In [6]:
train_data = loadData("train_data.txt")
train_df = pd.DataFrame(train_data)
train_df.head()

,0,1,2,3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [7]:
train_df.columns = ['ID','Title','Genre','Description']
train_df.head()

,ID,Title,Genre,Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

Test Dataset

In [8]:
test_data = loadData("test_data.txt")
test_df = pd.DataFrame(test_data, columns=['ID','Title','Description'])
test_df.head()

,ID,Title,Description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),Before he was known internationally as a marti...

In [9]:
test_solution = loadData('test_data_solution.txt')
test_solution_df = pd.DataFrame(test_solution, columns=['ID','Title','Genre','Description'])
test_solution_df.head()

,ID,Title,Genre,Description
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a marti...

Feature Exraction

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=10000)

X_train = vectorizer.fit_transform(train_df["Description"])
X_test = vectorizer.transform(test_df["Description"])

In [12]:
print(f"Training data shape : {X_train.shape}")
print(f"Testing data shape : {X_test.shape}")

Training data shape : (54214, 10000)
Testing data shape : (54200, 10000)

Encoding Target labels

In [14]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(train_df['Genre'])
print(f"Unique generes in training data : {label_encoder.classes_}")

Unique generes in training data : ['action' 'adult' 'adventure' 'animation' 'biography' 'comedy' 'crime'
 'documentary' 'drama' 'family' 'fantasy' 'game-show' 'history' 'horror'
 'music' 'musical' 'mystery' 'news' 'reality-tv' 'romance' 'sci-fi'
 'short' 'sport' 'talk-show' 'thriller' 'war' 'western']

Model : Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter = 200)
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)
predicted_generes = label_encoder.inverse_transform(y_pred)

test_df['Predicted_Genre'] = predicted_generes
test_df[['Title', 'Predicted_Genre']]

                                Title Predicted_Genre
0                Edgar's Lunch (1998)           drama
1            La guerra de papá (1977)           drama
2         Off the Beaten Track (2010)     documentary
3              Meu Amigo Hindu (2015)           drama
4                   Er nu zhai (1955)           drama
...                               ...             ...
54195  "Tales of Light & Dark" (2013)           drama
54196     Der letzte Mohikaner (1965)           drama
54197             Oliver Twink (2007)          comedy
54198               Slipstream (1973)           drama
54199       Curitiba Zero Grau (2010)     documentary

[54200 rows x 2 columns]

In [24]:
test_df['Predicted_Genere'] = predicted_generes
merged_df = pd.merge(test_solution_df[['ID', 'Genre']], test_df[['ID', 'Predicted_Genre']], on='ID')
merged_df

          ID        Genre Predicted_Genre
0          1     thriller           drama
1          2       comedy           drama
2          3  documentary     documentary
3          4        drama           drama
4          5        drama           drama
...      ...          ...             ...
54195  54196       horror           drama
54196  54197      western           drama
54197  54198        adult          comedy
54198  54199        drama           drama
54199  54200        drama     documentary

[54200 rows x 3 columns]

Model Evaluation

In [26]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(merged_df['Genre'], merged_df['Predicted_Genre'])
print(f"Accuracy: {accuracy: .4f}")

print("\n Classification scores : ")
print(classification_report(merged_df['Genre'], merged_df['Predicted_Genre']))

Accuracy:  0.5946

 Classification scores :
              precision    recall  f1-score   support

      action       0.51      0.29      0.37      1314
       adult       0.65      0.24      0.35       590
   adventure       0.67      0.16      0.26       775
   animation       0.59      0.04      0.08       498
   biography       0.00      0.00      0.00       264
      comedy       0.54      0.60      0.57      7446
       crime       0.41      0.03      0.06       505
 documentary       0.68      0.87      0.76     13096
       drama       0.55      0.79      0.65     13612
      family       0.48      0.08      0.14       783
     fantasy       0.61      0.03      0.06       322
   game-show       0.91      0.50      0.64       193
     history       0.00      0.00      0.00       243
      horror       0.66      0.57      0.61      2204
       music       0.68      0.46      0.55       731
     musical       0.44      0.01      0.03       276
     mystery       0.33      0.00      0.01       318
        news       0.69      0.05      0.09       181
  reality-tv       0.50      0.21      0.30       883
     romance       0.42      0.02      0.05       672
      sci-fi       0.60      0.26      0.36       646
       short       0.48      0.34      0.40      5072
       sport       0.72      0.28      0.41       431
   talk-show       0.61      0.19      0.29       391
    thriller       0.41      0.13      0.19      1590
         war       1.00      0.01      0.02       132
     western       0.91      0.72      0.81      1032

    accuracy                           0.59     54200
   macro avg       0.56      0.26      0.30     54200
weighted avg       0.58      0.59      0.55     54200